<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            tools:node="remove" />
        <meta-data
            android:name="com.davidpi.backup.RELEASE_SOURCE_SHA256"
            android:value="${davidPiReleaseSourceSha256}" />
        <meta-data
            android:name="com.davidpi.backup.RELEASE_FIREBASE_CLIENT_STATE"
            android:value="unconfigured" />
    </application>
</manifest>
